{# You can check whether a left side is contained in a right side using the in operator. #}

{{ some_var in [1, 2, 3] }}

{{ 'index' in page.path }}

{{ an_ident not in  an_obj }}

{# Only literals/variables resulting in an array, a string and an object are supported in the right hand side: everything else will raise an error. #}
