{# You can include a template to be rendered using the current context with the include tag. #}

{% include "included.html" %}

{# Tera doesn't offer passing a custom context to the include tag. If you want to do that, use macros. #}

{# While you can set values in included templates, those values only exist while rendering them: the template calling include doesn't see them. #}

